<html>

<head>
    <script src="javascripts/functions.js">
    </script>
    <style>
    </style>
</head>

<body>

    <a href="/<%=email%>" style="font-size: 50px ;position: fixed;padding: 0px 100px">profile</a>
    <br>
    <br>
    <br>
    <% for(var i=0;i<images.length;i++) {%>
    <div style="box-shadow: 4px 4px 13px black;align-items: center;position: relative;padding-left: 40px;width: 634px;position: relative;left: 25%;background:rgb(227, 231, 237)"
        id="<%=images[i]._id%>">
        <br>
        <a href="<%=images[i].user.email%>">
            <%=images[i].user.email%></a>
        <font style="padding: 0px 140px;">
            <%=images[i].createDate.toLocaleString()%>
        </font>
        <br>
        <br>
        <img src="<%= images[i].path%>" width="600" height="300" align="middle">
        <br>
        <br>
        <%if(images[i].like.find(function(mail) {
            return mail== email; }))
          {
        %>
        <input type="button" value="unlike" onclick="hitLike('<%=images[i]._id%>',this.id)" id="<%=images[i]._id%>unlike">
        <%}
         else {%>
        <input type="button" value="like" onclick="hitLike('<%=images[i]._id%>',this.id)" id="<%=images[i]._id%>like">
        <%}%>
        <form id="<%=images[i]._id%>postComment" style="display: inline;">
            <input type="text" name="comment" placeholder="write a comment.." size="70">
            <input type="button" onclick="postComment('<%=images[i]._id%>')" value="Post">
        </form>
        <input type="button" id="<%=images[i]._id%>commentCount" onclick="commentList('<%=images[i]._id%>')" value="<%=images[i].comments.length%> comments">
        <br>
        <ul id="<%=images[i]._id%>commentList" style="display: none ;">
        </ul>
        <br>
        <br>
    </div>
    <br>
    <br>
    <%}%>

</body>

</html>